<app-navbar></app-navbar>
<div class="header">
    <h1>Quotes for your audience</h1>
</div>
<!-- <div class="container">
    <div class="row">
        <div class="col-md-8">
           Mike Tyson
        </div>
    </div>
</div> -->
<div class="card" style="width: 100rem;">
    <div id="display">
    <div class="card" style="width: 18rem;" *ngFor="let quote of quotes">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">
            <li>
                {{quote.quote}}<br>
                <span class="text-primary">Upvote
                    {{quote.upvote}}
                </span>
                <span class="text-warning">Downvote
                    {{quote.downvote}}<br>
                </span>
            </li>
            <li>
                {{quote.description}}
            </li>
          </p>
        </div>
    </div>
</div>
</div>