<!-- <app-navbar></app-navbar> -->
<div class="header">
    <h1>Quotes for your audience</h1>
</div>

<div class="card" style="width: 100rem;">
    <div id="display">
        <div class="card" style="width: 28rem;" *ngFor="let quote of quotes">
        <div class="card-body">
          <h5 class="card-title">Wisdom</h5>
          <p class="card-text">
            <li>
                <!-- {{quote.quote}}<br> -->

                <p>{{numberOfLikes}}</p>
                <button id="btn-like" (click) ="likeButtonClick()" class="btn btn-success">Like</button>
                <p>{{numberOfDislikes}}</p>
                <button id="btn-dislike" (click) ="dislikeButtonClick()" class="btn btn-danger">Dislike</button>
            </li>
            <li>
                <!-- {{quote.description}} -->
            </li>
          </p>
        </div>
        </div>
    </div>
</div>